<div>
    <h3>Book Form</h3>
    <form>
        <div class="form-group">
            <label for="name">Title *</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.title" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Author *</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.author" name="author">
        </div>

        <div class="form-group">
            <label for="description">Genre *</label>
            <input type="number" class="form-control"
                   [(ngModel)]="model.genre" name="genre">
        </div>

        <div class="form-group">
            <label for="description">Publisher *</label>
            <input type="text" class="form-control"
                   [(ngModel)]="model.publisher" name="publisher">
        </div>

        <div class="form-group">
            <label for="description">Year *</label>
            <input type="range" class="form-control"
                   [(ngModel)]="model.year" name="year">
        </div>
        <button type="button" (click)="onSubmit()"
                class="btn btn-primary">
            Add
        </button>
    </form>
</div>